.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.aboutThisSection{
  margin-left: auto;
  margin-right: auto;
  width: 50.5%;
  margin-top: .5em;
  margin-bottom: .75em;
  text-align: center;
}

.cardText{
  margin-top: 1.5rem;
}

.signUpSection{
  max-width: 500px;
  margin-left: auto;
  margin-right: auto; 
}
.contactSection{
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto; 
}



.calendarContainer{
  height: 500px;
}

/* unvisited link */
a:link {
  color: #0275d8;
}

/* visited link */
a:visited {
  color: #d9534f;
}

